@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100 text-gray-800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

h1 {
  @apply text-3xl font-bold text-center mt-4;
}

h2 {
  @apply text-xl font-semibold mt-6;
}

ul {
  @apply list-disc pl-6;
}

li {
  @apply mb-2;
}